body {
    font-family: 'Baskervville', serif;
    color: linen;
    background-color: rgb(20, 30, 40);
  }

  .bold {
    font-weight: bold;
  }

  .heading {
    font-size: large;
  }

  .link {
    color:aliceblue;
  }

  .line {
    color:aliceblue;
  }

  .personal-img {
    height: 20%;
    width: 20%;
  }