<p>Page built by AbsurdJob &copy;2024</p>
<nav>  
    <a target="_blank" href="https://webpages.charlotte.edu/ajoshi46/">Webspace</a> 
    <a target="_blank" href="http://ajoshi4624.github.io">GitHub Pages</a>
    <a target="_blank" href="http://ajoshi4624.github.io/itis3135">GitHub Course Page</a>
    <a target="_blank" href="https://www.freecodecamp.org/ajoshi46">Freecodecamp</a>
    <a target="_blank" href="https://www.codecademy.com/profiles/ajoshi46">Codeacademy</a>
</nav> 
<hr>
<a target="_blank"  href="https://www.freecodecamp.org/certification/ajoshi46/responsive-web-design"><em>Certified in Responsive Web Design</em></a>
<hr>
<a id="validate-html">
    <img src="images/html_validation.png" alt="html validation">
</a>
<a id="validate-css">
    <img src="images/vcss.png" alt="css validation">
</a>