<footer>
    <p>
        <a target="_blank" href="apoorvajoshidesignlabs.com/index.html">Page built by Apoorva Joshi Design Labs</a>
        &copy;2024
    </p>
    <nav id="footer-social"></nav>
    <hr>
    <div id="footer-certifications"></div>
    
    <div id="footer-validation">
        <a id="validate-html" target="_blank">
            <img src="images/html_validation.png" alt="html validation">
        </a>
        <a id="validate-css" target="_blank">
            <img src="images/vcss.png" alt="css validation">
        </a>
    </div>
</footer>

