
<h1>Apoorva Joshi's Absurd Job &#x1F986; ITIS 3135</h1>
<hr>
<nav>
    <a href="index.html">Homepage</a>
    <a href="introduction.html" >Introduction</a>
    <a href="contract.html">Contract</a>
    <a href="website_evaluations.html">Website Evaluations</a>
    <a href="about.html">Company Page</a>
</nav> 
<hr>
<nav>
    <a href="tables.html">HTML Tables - Company</a>
    <a href="forms.html">HTML Forms - Company</a>
    <a href="project_overview.html">Project Overview</a>
    <a href="firstscripts.html">First Scripts</a>
    <a href="byo_intro.html">BYO Intro</a>
</nav>
<hr>  
<nav>
    <a href="stuff/CRAPPy&.html">CRAPPY Website</a>
</nav>
<hr>
